a {
    text-decoration: none;
    color: #0095ff;
}
body {
  background: #111;
  color: #0095ff;
  font-family: 'JetBrains Mono', monospace;
}
.terminal {
  padding: 30px;
  min-height: 100vh;
}
.ascii {
  color: #0095ff;
  font-size: 18px;
}
.input-line {
  display: flex;
  gap: 10px;
}
input {
  background: transparent;
  border: none;
  outline: none;
  color: #0095ff;
  font-family: inherit;
  font-size: 16px;
}
